/* desafio 3 */

.ele1{
    background-color: green;
}

/* desafio4 */

.color1{
    height: 200px;
    width: 200px;
    background-color: blue;
}
.color2{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}
.color3{
    height: 200px;
    width: 200px;
    background-color: brown;
}
.color4{
    height: 200px;
    width: 200px;
    background-color: cadetblue;}